In [7]:
li = [1,2,3,4,5]
print(sum(li))
print(min(li))
print(max(li))
print(sum(li)//len(li))

15
1
5
3

In [10]:
li.append(6)
li

[1, 2, 3, 4, 5, 6, 6]

In [12]:
li.insert(4,7)

In [16]:
li

[1, 2, 3, 4, 7, 7, 5, 6, 6]

In [18]:
li.count(7)

2

In [21]:
li.index(7)+1

5

In [23]:
li.sort()
li

[1, 2, 3, 4, 5, 6, 6, 7, 7]

In [24]:
li.pop()
li

[1, 2, 3, 4, 5, 6, 6, 7]

In [25]:
li.pop(5)

6

In [26]:
li

[1, 2, 3, 4, 5, 6, 7]

In [28]:
print(max(li)-1)

6

In [32]:
def sec(li):
    li.sort()
    return li[-2]
li=[2,5,7,8,9]
sec(li)

8

In [34]:
def genl(li,n):
    li.sort()
    return li[-n]
li=[2,4,5,7,1,9,10]
genl(li,2)

9

In [38]:
def least(li,n):
    li.sort()
    return li[n]
li=[2,4,5,7,1,9,10]
least(li,0)

1

In [47]:
def numtoli(n):
    li=[]
    while n!=0:
        r=n%10
        li.append(r)
        n=n//10
    li.reverse()
    return li
numtoli(12456)

[1, 2, 4, 5, 6]

In [3]:
t=(5,6,78,9,7)
t

(5, 6, 78, 9, 7)

AttributeError: 'tuple' object has no attribute 'pop'

### dictionaries

In [61]:
d = {1:"kaushik",2:'rishi'}
d[2]

'rishi'

In [63]:
d[2]='gautham'
d

{1: 'kaushik', 2: 'gautham'}

In [66]:
d[3]='rishi'
d

{1: 'kaushik', 2: 'gautham', 3: 'rishi'}

In [67]:
del(d[3])

In [68]:
d

{1: 'kaushik', 2: 'gautham'}

## contact application

In [72]:
# add contacts
contacts={}
def addcont(name,phone):
    if name not in contacts:
        contacts[name]=phone
        print('added')
    else:
        print('not added')
    return contacts
addcont('jagan',798945468)
addcont('rishi',141848458)
addcont('Rishi',141848458)

added
added
added

{'jagan': 798945468, 'rishi': 141848458, 'Rishi': 141848458}

In [74]:
# search contacts
def searchcont(name):
    if name in contacts:
        print(name,':',contacts[name])
    else:
        print('not present')
    return
searchcont('jagan')

jagan : 798945468

In [77]:
# import contacts
def importcont(newcont):
    contacts.update(newcont)
    print('new contacts are added')
    return
newcont={'ravi':5467821755,'mohan':5787668956}
importcont(newcont)

new contacts are added

In [78]:
contacts

{'jagan': 798945468,
 'rishi': 141848458,
 'Rishi': 141848458,
 'ravi': 5467821755,
 'mohan': 5787668956}

In [87]:
# update contaccts
def updatecont(name,phone):
    if name in contacts:
        contacts[name]=phone
        print('updated')
    else:
        print('not updated')
    return
updatecont('jagan',8341610933)
updatecont('kkk',6565932)

updated
not updated

In [90]:
# delete contacts
def delcont(name):
    if name in contacts:
        del(contacts[name])
        print('deleted')
    else:
        print('contact is not present')
    return
delcont('mohan')
delcont('ravi')

contact is not present
deleted

In [91]:
contacts

{'jagan': 8341610933, 'rishi': 141848458, 'Rishi': 141848458}

In [102]:
a=input()
print(list(a))
print(type(a))

1234

TypeError: 'int' object is not iterable

In [100]:
s='jagan mohan'
print(s.split())
print(s.split('a'))

['jagan', 'mohan']
['j', 'g', 'n moh', 'n']

In [101]:
# string to list
def strtolist(st):
    li=st.split()
    numlist=[]
    for i in li:
        numlist.append(int(i))
    return numlist
strtolist('1 2 3 4 5 6')

[1, 2, 3, 4, 5, 6]